<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      
        <tr>
          <th scope="row"><%= @user.id %></th>
          <td><%= @user.id %></td>
          <td><%= @user.email %></td>
          <td><%= @user.username %></td>
        </tr>
        
      
    </tbody>
  </table>
  <% @user.foods.each do |food| %>
    <hr>
  <% end %>
  
  <% @foods=Array[@food18a,@food18b,@food18c,@food19a,@food19b,@food19c,@food20a,@food20b,@food20c,@food21a,@food21b,@food21c,@food22a,@food22b,@food22c,@food23a,@food23b,@food23c]%>
  <% count = 0 %>
  <% date = 17 %>
  <% for food in @foods %>
    <% if count%3==0 %>
      <% date=date+1 %>
      <h2><%= date %>日</h2>
    <% end %>
    <% if food %>
    
    <div class="card" style="width: 15rem;">
      <% if food.image? %>
        <image_tag food.image.url ,width:"100%" ,class="card-img-top">
        <% else %>
        <image_tag "noimage.png", width:"100%">
      <% end %>
      
      <div class="card-body">
        <p class="card-text"><%= date %>日
        <% case food.which %>
          <% when "breakfast" then %>
          朝食
          <% when "lunch" then %>
          昼食
          <% when "dinner" then %>
          夕食
        <% end %>
        <br>
        <%= food.description %></p>
      </div>
    </div> 
    <br>
    <% end %>
    <% count = count + 1 %>
  <% end %>
</div>