<div class="container">
  <h2>みんなの食事記録を確認する</h2>
  <%= link_to '18日(木)', "/users/all/18", class: "btn btn-success btn-lg btn-block mb-4" %>
  <%= link_to '19日(金)', "/users/all/19", class: "btn btn-success btn-lg btn-block mb-4" %>
  <%= link_to '20日(土)', "/users/all/20", class: "btn btn-success btn-lg btn-block mb-4" %>
  <%= link_to '21日(日)', "/users/all/21", class: "btn btn-success btn-lg btn-block mb-4" %>
  <%= link_to '22日(月)', "/users/all/22", class: "btn btn-success btn-lg btn-block mb-4" %>
  <%= link_to '23日(火)', "/users/all/23", class: "btn btn-success btn-lg btn-block mb-4" %>
  <%= link_to '24日(水)', "/users/all/24", class: "btn btn-success btn-lg btn-block mb-4" %>
</div>