<div class="container">
  <h3 class="mt-5">A</h3>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            朝食
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          ■献立<br>
          ①ピザトースト<br>
          ②ゆで卵<br>
          ③ツナサラダ<br>
          ④コンソメスープ<br>
          <hr>
          <%= image_tag "bf-a1.png" , width:"50%"%>
          <br>
          <strong>【①ピザトースト】</strong><br><br>
          一人前<br>
          (材料）<br>
          食パン・・・6枚切り1枚<br>
          ピザ用スライスチーズ・・・1枚<br>
          ピーマン・・・1/2個<br>
          トマト・・・1/8個<br>
          トマトケチャップ・・・大さじ1<br>
          ハム・・・1枚<br>
          <br>
          (作り方）<br>
          1.トマトはダイスカットにします。<br>
          2.ピーマンは種とヘタを取って薄く輪切りにします。<br>
          3.ハムは1ｃｍくらいの細切りにカットします。<br>
          4.食パンにトマトケチャップを全体に塗ります。<br>
          5.ハム→ピーマン→トマト→スライスチーズをのせてオーブントースターで1000W（220度）で3分間焼いたら完成です。<br>
          <hr>
          <%= image_tag "bf-a2.png" , width:"50%"%>
          <br>
          <strong>【①ゆで卵】</strong><br><br>
          一人前<br>
          (材料）<br>
          ・卵1個<br>
          (作り方）<br>
          割愛させていただきます。<br>
          <hr>
          <%= image_tag "bf-a3.png" , width:"50%"%>
          <br>
          <strong>【③ツナサラダ】</strong><br><br>
          一人前<br>
          (材料）<br>
          ・キャベツ・・・1枚（50ｇ）<br>
          ・キュウリ・・・1/4本<br>
          ・ノンオイルツナ缶・・1/2缶（35ｇ）<br>
          ・コーン缶・・・大さじ1<br>
          ・☆酢・・・大さじ½<br>
          ・☆マヨネーズ・・・大さじ½<br>
          ・塩こしょう・・・少々<br>
          ・塩・・・少々<br>
          <br>
          (作り方）<br>
          1.キャベツは1ｃｍ幅にカットします。キュウリは千切りにします。<br>
          2.1に塩をまぶしてしんなりさせて水分を除きます。<br>
          3.ボウルに☆の材料を混ぜて2の具材、ツナ缶、コーンを加えます。塩コショウを振って味を整えたら完成です。<br>
          <hr>
          <%= image_tag "bf-a4.png" , width:"50%"%>
          <br>
          <strong>【④コンソメスープ】</strong><br><br>
          一人前<br>
          (材料）<br>
          キャベツ・・・3枚（100g）<br>
          玉ねぎ・・・1/8個<br>
          人参・・・1/8本<br>
          水・・・200ｃｃ<br>
          コンソメ顆粒・・・大さじ½<br>
          塩こしょう・・・少々<br>
          <br>
          (作り方）<br>
          1.玉ねぎは1ｃｍ幅の大きさにカットします。キャベツは一口大に、人参はいちょう切りにします。<br>
          2.鍋に水を加えて1を入れます。野菜に火が通ったら、コンソメ顆粒、塩コショウを加えて味を整えます。<br>
          3.器に盛り付けたら完成です。<br>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            昼食
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
           ■献立<br>
          ①ガパオライス<br>
          ②チョレギサラダ<br>
          ③大豆のトマト煮<br>
          <hr>
          <%= image_tag "lu-a1.png" , width:"50%"%>
          <br>
          <strong>【①ガパオライス】</strong><br><br>
          一人前<br>
          (材料）<br>
          ごはん・・・150ｇ<br>
          鶏ひき肉・・・100ｇ<br>
          赤パプリカ・・・1/8個<br>
          ピーマン・・・1/2個<br>
          玉ねぎ・・・1/8個<br>
          バジル・・・2枚<br>
          ニンニク・・・1/2片<br>
          豆板醤・・・小さじ½<br>
          ☆ナンプラー・・・小さじ1<br>
          ☆オイスターソース・・・小さじ1<br>
          ☆酒・・・大さじ½<br>
          ☆砂糖・・・小さじ½<br>
          オリーブオイル・・・大さじ1、小さじ1<br>
          卵・・・1個<br>
          飾り用バジル・・・適量<br>
          <br>
          (作り方）<br>
          1.ピーマンとパプリカは細切りにし、玉ねぎとにんにくはみじん切りにします。☆の調味料を混ぜ合わせておきます。<br>
          2.フライパンにオリーブオイルを小さじ1加えて目玉焼きを作ります。好みの硬さになったら取り出してお皿において置きます。<br>
          3.2のフライパンにオリーブオイルを大さじ1加えてにんにく、豆板醬を炒めます。そして、鶏ひき肉を一緒に炒めます。鶏肉の火が通ったら、野菜を加えて炒めます。<br>
          4.3に☆の調味料を加えて汁気が無くなるまで炒めます。最後に手でちぎったバジルを加えて炒めます。<br>
          5.器にご飯を盛り付けたら、ガパオの具材をのせます。そして、バジルの葉っぱをのせたら完成です。<br>
          <hr>
          <%= image_tag "lu-a2.png" , width:"50%"%>
          <br>
          <strong>【②チョレギサラダ】</strong><br><br>
          一人前<br>
          (材料）<br>
          レタス・・・1枚<br>
          キュウリ・・・1/8本<br>
          ☆ごま油・・・大さじ½<br>
          ☆醤油・・・小さじ1<br>
          ☆おろしにんにく・・・小さじ¼<br>
          ☆鶏ガラスープの素・・・小さじ¼<br>
          白いりごま・・・適量<br>
          焼き海苔・・・少量<br>
          <br>
          (作り方）<br>
          1.レタスは洗ったらしっかり水気を切り、適当な大きさに手でちぎります。キュウリは細切りにします。<br>
          2.ボウルにレタス、キュウリ、☆の調味料を加えて混ぜます。<br>
          3.器に盛り付けて白ごま、ちぎった海苔をのせたら完成です。<br>
          <hr>
          <%= image_tag "lu-a3.png" , width:"50%"%>
          <br>
          <strong>【③大豆のトマト煮】</strong><br><br>
          一人分<br>
          (材料）<br>
          水煮大豆・・・60ｇ<br>
          カットトマト缶・・・1/4缶<br>
          にんにく・・・1/4かけ<br>
          玉ねぎ・・・1/4個<br>
          水・・・70ｍl<br>
          コンソメ・・・1/4個<br>
          塩こしょう・・・少々<br>
          オリーブオイル・・・大さじ½<br>
          乾燥パセリ・・・少々<br>
          <br>
          (作り方）<br>
          1.水煮大豆は水切りをします。<br>
          2.にんにく、玉ねぎはみじん切りにします。<br>
          3.鍋にオリーブオイルを加えてにんにくを炒めます。そして玉ねぎを加えて火が通ったら、カットトマト缶と大豆を加えて煮込みます。<br>
          4.3に水を加え、コンソメを入れて味付けをします。沸騰したらアクをとり煮込みます。<br>
          5.最後に塩コショウで味を整えたら完成です。<br>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            夕食
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
           ■献立<br>
          ①さばの塩焼き<br>
          ②筑前煮<br>
          ③きのこたっぷり味噌汁<br>
          ④ご飯(白米150g程度)
          <hr>
          <%= image_tag "dn-a1.png" , width:"50%"%>
          <br>
          <strong>【①さばの塩焼き】</strong><br><br>
          一人前<br>
          (材料）<br>
          さば・・・1切れ（200ｇ）<br>
          酒・・・大さじ2<br>
          塩・・・少々<br>
          大根おろし・・・適量<br>
          <br>
          (作り方）<br>
          1.さばば半分にカットします。酒をふりかけて5分置き、キッチンペーパーで水気を拭きます。<br>
          2.塩をサバの表面にふり、アルミホイルを敷いたフライパン（またはグリル）で皮目を上にして蓋をして焼きます。(両面）<br>
          3.中まで火が通ったらお皿に盛り付けて大根おろしを添えたら完成です。<br>
          <hr>
          <%= image_tag "dn-a2.png" , width:"50%"%>
          <br>
          <strong>【②筑前煮】</strong><br><br>
          一人前<br>
          (材料）<br>
          鶏モモ肉・・・80ｇ<br>
          れんこん・・・50ｇ<br>
          人参・・・1/4本<br>
          ごぼう・・・25ｇ<br>
          生しいたけ・・・1枚<br>
          こんにゃく・・・1/4枚<br>
          ごま油・・・大さじ½<br>
          <br>
          ☆醤油・・・大さじ1<br>
          ☆みりん・・・大さじ1<br>
          ☆砂糖・・・大さじ½<br>
          ☆水・・・100ｍｌ<br>
          <br>
          (作り方）<br>
          1.鶏肉は一口大にカットします。れんこん、人参は乱切りにします。ごぼうは皮を剥いて乱切りにして水にさらします。しいたけは石づきをとってスライスにします。こんにゃくはスプーンで一口大にちぎり下茹でします。<br>
          2.フライパンにごま油を熱し、中火で鶏肉を炒めます。肉の色が変わったら、レンコン、人参、ごぼうを加えて炒めます。<br>
          3.全体に油が回ったら、☆の調味料、生しいたけ、こんにゃくを加えて中火で10分前後煮たら完成です。<br>
          <hr>
          <%= image_tag "dn-a3.png" , width:"50%"%>
          <br>
          <strong>【③きのこたっぷりの味噌汁】</strong><br><br>
          一人前<br>
          （材料）<br>
          しめじ・・・20ｇ<br>
          えのき・・・20ｇ<br>
          エリンギ・・・20ｇ<br>
          ☆水・・・250ｍl<br>
          ☆本だし・・・小さじ¼<br>
          味噌・・・大さじ1<br>
          ねぎ・・・少々<br>
          <br>
          (作り方）<br>
          1.えのき、しめじは根元をカットして小房にほぐしておきます。エリンギは1ｃｍくらいの長さにカットします。<br>
          2.ねぎは小口切りにします。<br>
          3.鍋に☆を加えて火にかけます。煮立ったら、しめじ、えのき、エリンギを加えます。そして、味噌を加えてひと煮立ちさせます。<br>
          4.器に盛り付けてねぎをトッピングしたら完成です。<br>

        </div>
      </div>
    </div>
  </div>
  <br>
  <h3>B</h3>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            朝食
          </button>
        </h2>
      </div>

      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
           ■献立<br>
          ①鮭塩焼き<br>
          ②枝豆入り卵焼き<br>
          ③味噌汁（じゃがいも、玉ねぎ）<br>
          ④ご飯(白米150g程度)<br>
          <hr>
          <%= image_tag "bf-b1.png" , width:"50%"%>
          <br>
          <strong>【①鮭塩焼き】</strong><br><br>
          一人前<br>
          (材料）<br>
          鮭・・・1切れ（200ｇ）<br>
          酒・・・大さじ2<br>
          塩・・・少々<br>
          <br>
          (作り方）<br>
          1.鮭に酒をふりかけて5分置き、キッチンペーパーで水気を拭きます。<br>
          2.鮭の表面に塩をふり、アルミホイルを敷いたフライパン（またはグリル）で片面を上にして蓋をして焼きます。(両面）<br>
          3.中まで火が通ったらお皿に盛り付けたら完成です。<br>
          <hr>
          <%= image_tag "bf-b2.png" , width:"50%"%>
          <br>
          <strong>【②枝豆入り卵焼き】</strong><br><br>
          一人前<br>
          （材料）<br>
          卵・・・1.5個<br>
          だし汁・・・大さじ1と½<br>
          砂糖・・・少々<br>
          冷凍枝豆・・・30ｇ（可食部15ｇ）<br>
          サラダ油・・・小さじ1<br>
          <br>
          (作り方）<br>
          1.冷凍枝豆は解凍し、殻を剥いて置きます。<br>
          2.ボウルに卵を溶きほぐし、だし汁、塩、砂糖を加えてよく混ぜます。そして1の枝豆を入れます。<br>
          3.フライパンに油を熱し、2の卵液の1/3を加えて弱火で焼きます。卵液がこぼれないように手前から巻いていきます。（これをあと2回繰り返し）<br>
          4.巻きすやキッチンペーパーを使って卵焼きの形を整え、完成した卵焼きをお皿に移したら完成です。<br>
          <hr>
          <%= image_tag "bf-b3.png" , width:"50%"%>
          <br>
          <strong>【③じゃがいもと玉ねぎの味噌汁】</strong><br><br>
          一人前<br>
          （材料）<br>
          じゃがいも・・・1/2個<br>
          玉ねぎ・・・1/4個<br>
          万能ねぎ・・・少々<br>
          出汁・・・250ｃｃ<br>
          味噌・・・大さじ1/2<br>
          <br>
          (作り方）<br>
          1.じゃがいもは皮を剥いて5ｃｍの厚さのいちょう切りにして水にさらします。そして、万能ねぎは小口切りにします。<br>
          2.鍋に出汁と1のじゃがいもを入れて中火にかけてブクブク煮立ったら、玉ねぎを加えて煮ます。<br>
          3.玉ねぎに火が通ったら、味噌を加えて溶かします。<br>
          4.器に盛り付けたら完成です。<br>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            昼食
          </button>
        </h2>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
           ■献立<br>
          ①きのこと鶏肉の和風パスタ<br>
          ②海老とブロッコリーの塩炒め<br>
          ③人参のマリネ<br>
          <hr>
          <%= image_tag "lu-b1.png" , width:"50%"%>
          <br>
          <strong>【①きのこと鶏肉の和風パスタ】</strong><br><br>
          一人前<br>
          （材料）<br>
          スパゲティー　・・・100ｇ<br>
          鶏モモ肉・・・100ｇ<br>
          しめじ・・・30ｇ<br>
          水・・・400ｃｃ<br>
          ☆めんつゆ(2倍濃縮）・・・大さじ2<br>
          ☆顆粒和風だし・・・小さじ1<br>
          ☆すりおろしニンニク・・・小さじ1/3<br>
          ☆塩コショウ・・・少々<br>
          小葱・・・適量<br>
          バター・・・小さじ1<br>
          <br>
          (作り方）<br>
          1.しめじは石づきをとり、小房にほぐします。<br>
          2.鶏モモ肉は一口大にカットします。<br>
          3.フライパンにバターを熱し、鶏モモ肉の表面を焼き、しめじを加えたら混ぜておきます。<br>
          4.沸騰させた鍋にパスタを加えて茹でます。茹で上がったら、3のフライパンへ移し、☆の材料を加えて炒めます。<br>
          5.4のパスタを塩コショウで整えたら完成です。<br>
          <hr>
          <%= image_tag "lu-b2.png" , width:"50%"%>
          <br>
          <strong>【②海老とブロッコリーの塩炒め】</strong><br><br>
          一人前<br>
          （材料）<br>
          えび（ブラックタイガー小）・・・40ｇ<br>
          ブロッコリー・・・110ｇ<br>
          生姜・・・5ｇ<br>
          ☆酒・・・小さじ2<br>
          ☆塩コショウ・・・少々<br>
          ☆鶏ガラスープの素・・・小さじ1/2<br>
          サラダ油・・大さじ1/2と小さじ1<br>
          塩・・・小さじ1<br>
          <br>
          下味<br>
          酒・・・少々<br>
          塩・・・少々<br>
          <br>
          （作り方）<br>
          1.えびの背ワタを竹串などでとります。ボウルにえびを加えて下味をつけます。そして、ブロッコリーは小房に分け、茎は厚めに皮を剥きます。生姜は千切りにします。<br>
          2　大き目の鍋に水カップ2.5杯を加えて蓋をして沸騰させ、塩、サラダ油小さじ1、ブロッコリーの順番に加えて茹でます。次にえびをさっと茹でて水切りします。<br>
          3.フライパンにサラダ油大さじ1/2を加え、中火で熱して生姜を加えます。次にえびとブロッコリーを炒め、☆の材料を手早く入れて完成。<br>
          <hr>
          <%= image_tag "lu-b3.png" , width:"50%"%>
          <br>
          <strong>【③人参のマリネ】</strong><br><br>
          一人前<br>
          （材料）<br>
          人参・・・1/2本<br>
          酢・・・大さじ1<br>
          オリーブオイル・・・大さじ1<br>
          昆布茶・・・小さじ½<br>
          塩・・・少々<br>
          塩コショウ・・・少々<br>
          白いりごま・・・少々<br>
          <br>
          (作り方）<br>
          1.ピーラーで皮を剥いた人参を剥きます。<br>
          2.ボウルに移し、塩を加えてしんなりさせます。(水分を除きます）<br>
          3.2に酢とオリーブオイルを加えて、全体が馴染んだら昆布茶と塩コショウ、白ごまを加えたら完成です。<br>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            夕食
          </button>
        </h2>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
          ■献立<br>
          ①豚肉の生姜焼き<br>
          (付け合わせトマト、レタス）<br>
          ②切り干し大根<br>
          ③味噌汁（なす、わかめ）<br> 
          ④ご飯 150g<br>        
          <hr>
          <%= image_tag "dn-b1.png" , width:"50%"%>
          <br>
          <strong>【①豚肉の生姜焼き】</strong><br><br>
          一人前<br>
          （材料）<br>
          豚ロース(薄切り）・・・150ｇ<br>
          薄力粉・・・大さじ½<br>
          ☆すりおろし生姜・・・小さじ1<br>
          ☆醤油・・・小さじ2<br>
          ☆砂糖・・・小さじ1<br>
          ☆酒・・・大さじ½<br>
          ごま油・・・小さじ1<br>
          (付け合わせ）<br>
          キャベツ・・・70ｇ<br>
          ミニトマト・・・2個<br>
          <br>
          (作り方）<br>
          1.キャベツは千切りにします。<br>
          2.豚ロースに薄力粉をまぶします。<br>
          3.ボウルに☆を混ぜ合わせます。<br>
          4.中火で熱したフライパンにごま油を加え、2を炒めます。両面をこんがり焼いたら3を加えます。<br>
          5.中火で混ぜ合わせて全体が馴染んだら火を止めます。<br>
          6.肉をお皿に盛り付けて、キャベツやミニトマトを添えたら完成です。<br>
          <hr>
          <%= image_tag "dn-b2.png" , width:"50%"%>
          <br>
          <strong>【②切り干し大根】</strong><br><br>
          一人分<br>
          （材料）<br>
          切り干し大根（乾燥）・・・15ｇ<br>
          油揚げ・・・1/2枚<br>
          人参・・・1/4本<br>
          サラダ油・・・小さじ1<br>
          ☆醤油・・・小さじ2<br>
          ☆みりん・・・大さじ1<br>
          ☆砂糖・・・小さじ½<br>
          ☆だし汁・・・150ｍｌ<br>
          <br>
          (作り方）<br>
          1.切り干し大根は軽く洗ってからボウルに水をはって戻します。そして、汁気を絞ったら食べやすい長さ（1ｃｍくらい）に切ります。人参は1cmくらいの長さに薄切りにして切ります。油揚げは千切りにします。<br>
          2.鍋に油を加えてから中火で熱し、1を炒めます。油が回ったら☆を加えて沸騰させ、汁気がなくなるまで煮詰めます。<br>
          <hr>
          <%= image_tag "dn-b3.png" , width:"50%"%>
          <br>
          <strong>【②味噌汁（なす、わかめ）】</strong><br><br>
          一人前<br>
          （材料）<br>
          なす・・・1/2個<br>
          わかめ・・・1ｇ<br>
          万能ねぎ・・・少々<br>
          出汁・・・250ｃｃ<br>
          味噌・・・大さじ1/2<br>
          <br>
          (作り方）<br>
          1.わかめは水に戻し、水気を絞ります。なすはいちょう切り、ねぎは小口切りにします。<br>
          2.鍋に出汁と1の具材を入れて中火にかけて具材に火が通ったら、味噌を加えて溶かします。<br>
          4.汁椀に盛り付けてねぎを添えたら完成です<br>
        </div>
      </div>
    </div>
  </div>
  <br>
  <h3>C</h3>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
            朝食
          </button>
        </h2>
      </div>

      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
        <div class="card-body">
          ■献立<br>
          ①ロールパンサンド<br>
          ②スパニッシュオムレツ<br>
          ③豆乳スープ<br>
          <hr>
          <%= image_tag "bf-c1.png" , width:"50%"%>
          <br>
          <strong>【①ロールパンサンド】</strong><br><br>
          一人前<br>
          (材料）<br>
          ロールパン・・・2個<br>
          パストラミロース・・・4枚<br>
          クリームチーズ・・・30ｇ<br>
          バター・・・適量<br>
          マヨネーズ・・・適量<br>
          レタス・・・1枚<br>
          <br>
          （作り方）<br>
          1.パストラミロースは半分に切ります<br>
          2.ロールパンに縦半分の切り込みを入れます<br>
          3.ロールパンの切り込みの片方にバターを、もう片方にマヨネーズを塗ります<br>
          4.レタスをのせます<br>
          5.クリームチーズをのせます<br>
          6.パストラミロースをのせて完成です。<br>
          <hr>
          <%= image_tag "bf-c2.png" , width:"50%"%>
          <br>
          <strong>【②スパニッシュオムレツ】</strong><br><br>
          一人分<br>
          (材料）<br>
          じゃがいも・・・1/4個<br>
          玉ねぎ・・・1/8個<br>
          ピーマン・・・1/4個<br>
          ベーコン・・・1/2枚<br>
          卵・・・1.5個<br>
          サラダ油・・・小さじ1<br>
          塩・・・少々<br>
          トマトケチャップ・・・少量<br>
          <br>
          (作り方）<br>
          1.じゃがいも、玉ねぎ、ピーマンは1ｃｍ角の大きさにカットし、ベーコンは1ｃｍ幅にカットします。<br>
          2.卵を溶きほぐします<br>
          3.フライパンに油を熱し、じゃがいも、玉ねぎ、ピーマン、ベーコンを炒めます。<br>
          4.溶き卵を加えて混ぜます。火を通して蓋をして弱火で火を通します<br>
          5.4に火が通ったら切り分けてケチャップをつけて切り分けたら完成です。<br>
          <hr>
          <%= image_tag "bf-c3.png" , width:"50%"%>
          <br>
          <strong>【③豆乳スープ】</strong><br><br>
          一人分<br>
          (作り方）<br>
          白菜・・・1枚（50ｇ）<br>
          人参・・・1/5本<br>
          玉ねぎ・・・1/8個<br>
          しめじ・・・20ｇ<br>
          無調整豆乳・・・100ｃｃ<br>
          水・・・80ｍｌ<br>
          ☆顆粒和風だし・・・小さじ1<br>
          ☆味噌・・・小さじ½<br>
          ☆すりおろし生姜・・・小さじ½<br>
          サラダ油・・・小さじ1<br>
          <br>
          (作り方）<br>
          1.人参は千切りに、玉ねぎは薄切りにします。白菜はざく切りにしてしめじは石づきをとってほぐします。<br>
          2.鍋にサラダ油を熱し、1を中火で炒めます。<br>
          3.2の全体に火が通ったら豆乳、水を加えて煮立ったら弱火にして5分煮込みます。<br>
          4.ボウルに☆を混ぜ合わせて3に溶き入れます。器に盛り付けたら完成です。<br>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingEight">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            昼食
          </button>
        </h2>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
        <div class="card-body">
          ■献立<br>
          ①八宝菜<br>
          ②バンバンジーサラダ<br>
          ③中華スープ<br>
          ④ご飯(白米150g)<br>
          <hr>
          <%= image_tag "lu-c1.png" , width:"50%"%>
          <br>
          <strong>【①八宝菜】</strong><br><br>
          一人前<br>
          （材料）<br>
          白菜・・・⅛切れ<br>
          豚バラ肉・・・50g<br>
          ★塩こしょう・・・少々<br>
          ★片栗粉・・・大さじ1/2<br>
          玉ねぎ・・・¼個<br>
          人参・・・¼本<br>
          しいたけ・・・1個<br>
          エビ・・・50g<br>
          うずらの卵・・・3個<br>
          きくらげ・・・1個<br>
          ☆鶏ガラスープの素・・・小さじ½<br>
          ☆砂糖・・・小さじ½<br>
          ☆醤油・・・小さじ1<br>
          ☆酒・・・大さじ½<br>
          水溶き片栗粉・・・各大さじ½<br>
          塩コショウ・・・少々<br>
          ごま油・・大さじ½<br>
          水・・・100cc<br>
          <br>
          (作り方）<br>
          1.きくらげは水に戻します。豚肉に★の材料に漬けて揉み込んでおきます。えびは背ワタをとり酒と片栗粉（分量外）で揉み込んでから洗い流して臭みをとっておきます。<br>
          2.白菜は一口大に、人参は短冊切りに、しいたけと玉ねぎは薄切りにします。<br>
          3.フライパンにごま油を熱し、1の豚肉を焼き、皿に取り上げておきます。<br>
          4.豚肉を取り上げたフライパンに玉ねぎを入れて炒めます。<br>
          5.玉ねぎが飴色になるまで炒めたら人参を入れさっと火を通してえび、きくらげ、しいたけを加えて強火で炒めます。<br>
          6.5に白菜と豚肉を加えて一緒に炒めて塩こしょうをします。<br>
          7.水と☆の調味料を加え、うずらの卵を加えて2分くらい強火で炒めます。<br>
          8.全体に火が通ったら一度火を止めて、水溶き片栗粉を加えてとろみをつけます。<br>
          9.器に盛り付けて完成です。<br>
          <hr>
          <%= image_tag "lu-c2.png" , width:"50%"%>
          <br>
          <strong>【②バンバンジーサラダ】</strong><br><br>
          一人分<br>
          (材料）<br>
          鶏ささみ・・・1本<br>
          酒・・・少々<br>
          きゅうり・・・1/2本<br>
          トマト・・・1/2個<br>
          ☆練り白ごま・・・小さじ2<br>
          ☆砂糖・・・小さじ1<br>
          ☆酢・・・小さじ1<br>
          ☆醤油・・・小さじ1<br>
          ☆白いりごま・・・小さじ½<br>
          ☆ごま油・・・小さじ⅓<br>
          <br>
          （作り方）<br>
          1.キュウリは千切りに、トマトは薄く輪切りにします。☆の調味料を混ぜ合わせます。<br>
          2.鍋に湯を沸かして鶏肉を加えて3分ほど茹でます。そして水切りします。<br>
          3.皿にキュウリとトマトを盛り付けてから2の鶏肉を割いて盛り付けます。☆の調味料を上からかけて完成です。<br>
          <hr>
          <%= image_tag "lu-c3.png" , width:"50%"%>
          <br>
          <strong>【③中華スープ】</strong><br><br>
          一人分<br>
          （材料）<br>
          卵・・・1/2個<br>
          ☆水・・・200ｍｌ<br>
          ☆鶏ガラスープの素・・・小さじ1<br>
          ☆醤油・・・小さじ1<br>
          ☆ごま油・・・小さじ½<br>
          ☆塩・・・少々<br>
          ☆片栗粉・・・大さじ½<br>
          水溶き片栗粉・・・片栗粉小さじ1、水小さじ2<br>
          塩コショウ・・・少々<br>
          <br>
          (作り方）<br>
          1.卵は溶いておき、水溶き片栗粉を作ります。<br>
          2.鍋に☆の材料を加えて沸騰させます。<br>
          3.2に溶き卵を加えてから火を止めます。そして全体を箸でかき混ぜます<br>
          4.3に塩コショウを加えて味を整え、水溶き片栗粉を少量ずつ加えて混ぜます。<br>
          5.器に盛り付けて完成です。<br>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingNine">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            夕食
          </button>
        </h2>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
        <div class="card-body">
          ■献立<br>
          ①鶏肉の唐揚げネギソース<br>
          ②ひじき煮<br>
          ③ほうれん草おひたし<br>
          ④ご飯(白米150g)<br>
          <hr>
          <%= image_tag "dn-c1.png" , width:"50%"%>
          <br>
          <strong>【①鶏肉の唐揚げネギソース】</strong><br><br>
          一人分<br>
          （材料）<br>
          鶏モモ肉・・・150ｇ<br>
          ☆酒・・・小さじ1<br>
          ☆醤油・・・小さじ½<br>
          ☆生姜のすりおろし・・・小さじ1<br>
          ねぎ・・・1/4本<br>
          ★砂糖・・小さじ1<br>
          ★醤油・・・小さじ1<br>
          ★酢・・・小さじ1<br>
          ★ごま油・・・小さじ1<br>
          片栗粉・・・適量<br>
          <br>
          (作り方）<br>
          1.鶏肉を大き目に切り、☆に30分以上揉み込みます。<br>
          2.★の調味料を混ぜ合わせ、みじん切りにしたねぎを加えてねぎソースを作ります。<br>
          3.1の汁気を切り、片栗粉をまぶし、170度に熱した油でカリッと揚げます。<br>
          4.唐揚げを器に盛り付け、ねぎソースをかけたら完成です。<br>
          <hr>
          <%= image_tag "dn-c2.png" , width:"50%"%>
          <br>
          <strong>【②ひじき煮】</strong><br><br>
          一人前<br>
          （材料）<br>
          乾燥ひじき・・・10ｇ<br>
          人参・・・1/6本<br>
          油揚げ・・1/4枚<br>
          油・・・小さじ½<br>
          ☆だし汁・・・70ｍｌ<br>
          ☆醤油・・・大さじ½<br>
          ☆砂糖・・・大さじ½<br>
          ☆みりん・・・大さじ½<br>
          サラダ油・・・小さじ1<br>
          <br>
          (作り方）<br>
          1.ひじきはたっぷりの水で30分ほど水で戻します。そして水切りします。<br>
          2.人参は太めの千切りにし、油揚げは細めの千切りにします。<br>
          3.鍋にサラダ油を熱し、人参と油揚げを炒めます。そして、水切りしたひじきを加えて1分程炒めます。<br>
          4.3に☆の材料を加えます。そして調味料を溶かして煮つめます。<br>
          5.器に盛り付けたら完成です。<br>
          <hr>
          <%= image_tag "dn-c3.png" , width:"50%"%>
          <br>
          <strong>【③ほうれん草おひたし】</strong><br><br>
          一人前<br>
          （材料）<br>
          ほうれん草・・・1/2束<br>
          塩・・・小さじ½<br>
          ☆酒・・・大さじ1<br>
          ☆みりん・・・大さじ½<br>
          顆粒和風だし・・・小さじ¼<br>
          醤油・・・小さじ½<br>
          鰹節・・・適量<br>
          <br>
          (作り方）<br>
          1.ほうれん草は根元がついたままよく洗います。<br>
          2.沸騰したお湯に塩を加えて、ほうれん草を2～3分茹でます。<br>
          3.茹で上がったら冷水に取ります。<br>
          4.鍋に☆を加えて、1分くらい沸騰させてアルコール分を煮きります。<br>
          5.4の鍋に顆粒だし、醤油を加えて混ぜます。<br>
          6.水気をよく切ったほうれん草を4～5ｃｍに切り、5の出汁を浸し鰹節をかけたら完成です。<br>

        </div>
      </div>
    </div>
    <div class="mt-3">
    <strong>ユーザーの方におすすめレシピ</strong><br>
    <br>
    田中さん<br>
    卵、大豆製品が不足、朝食欠食傾向：<br>
    ・ピザトースト、卵、ツナサラダ、コンソメスープ<br>
    ・ガパオライス、サラダ、豆のトマト煮<br>
    <br>
    夏井さん<br>
    魚・野菜が不足で栄養バランスが取れていない、朝食欠食傾向<br>
    ・ご飯、サバの塩焼き、筑前煮、きのこの味噌汁<br>
    ・ご飯、鮭塩焼き　枝豆入り卵焼き味噌汁（じゃがいも、玉ねぎ）<br>
    <br>
    せーじさん<br>
    朝食欠食、魚、野菜不足の傾向<br>
    ・ご飯、鮭塩焼き・枝豆卵焼き・味噌汁、<br>
    ・ご飯、サバの塩焼き、筑前煮、きのこの味噌汁<br>
    <br>
    まこさん<br>
    炭水化物、肉、野菜不足の傾向<br>
    ・ご飯、豚の生姜焼き、切り干し大根煮物・味噌汁<br>
    ・きのこと鶏肉の和風パスタ、エビとブロッコリー塩炒め、マリネ<br>
    <br>
    Daisukeさん<br>
    卵・肉・炭水化物不足傾向<br>
    ・ロールパンサンド、スパニッシュオムレツ、豆乳スープ<br>
    ・きのこと鶏肉の和風パスタ、エビとブロッコリー塩炒め、マリネ<br>
    <br>
    ぱにたろうさん<br>
    野菜、卵、魚不足傾向<br>
    ・ご飯、八宝菜、バンバンジーサラダ、中華スープ<br>
    </div>
  </div>
  <%= link_to "ホームに戻る", home_path, class:"btn btn-success mb-4 mt-5" %>
</div>