

<div class="container">
<h2 class="mb-5 mt-5">みんなの食事(投稿順)</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">User-id</th>
        <th scope="col">when-which</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <th scope="row"><%= food.id %></th>
          <td><%= food.user_id %></td>
          <td><%= food.when %>日<%= whichfood(food.which) %></td>
          <td><%= safe_join(food.description.split("\n"),tag(:br)) %></td>
          <td><% if food.image? %>
              <%= image_tag food.image.url , style:"max-width:10rem" %>
              <% else %>
              <%= image_tag "noimage.png" %>
              <% end %>
          </td>
          
          <td>
          <%= link_to "このユーザーの食事記録を見る", user_path(food.user) ,class:"btn btn-outline-success"%><br>
          <% if current_user.admin? %> 
            <%= link_to 'Edit', edit_food_path(food) %><br>
            <%= link_to 'Delete', food_path(food), method: :delete, data: { confirm: "Are you sure?" }%>
          <% end %>
          </td>
        </tr>
        <% # image_tag food.image.url if food.image? %>
      <% end %>
    </tbody>
  </table>
</div>