

<div class="container">
<h1>Foods#index</h1>
<p>Find me in app/views/foods/index.html.erb</p>
<h2>this is food index page</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Description</th>
        <th scope="col">User-id</th>
        <th scope="col">Image</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <th scope="row"><%= food.id %></th>
          <td><%= food.description %></td>
          <td><%= food.user_id %></td>
          <td><% if food.image? %>
              <%= image_tag food.image.url %>
              <% else %>
              <%= image_tag "https://via.placeholder.com/150" %>
              <% end %>
          </td>
          <td><%= link_to 'Edit', edit_food_path(food) %>
          <%= link_to 'Delete', food_path(food), method: :delete, data: { confirm: "Are you sure?" }%>
          </td>
        </tr>
        <% # image_tag food.image.url if food.image? %>
      <% end %>
    </tbody>
  </table>
</div>