<div class="container">
  <h2>whenwhich is here</h2>
  <p><%= @when %></p>
  <p><%= @which %></p>
  <div class="row justify-content-center">
  <%= render 'shared/errors', obj: @food %>
  
  <%= form_with(model: @food, url:{controller:'foods', action:'wwcreate'}, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
    <div class="form-group">
    <label for="user_id">食事内容</label>
      
        <%= f.text_area :description, class: "form-control shadow rounded", placeholder: "食事記録を入力してください" ,rows: 10%>
    </div>
    
      <%= f.label :image, 'image' %>
      <%= f.file_field :image %>
      <%= f.fields_for :ingredient do |i| %>
         <%= i.hidden_field :cal, value:0 %>
         <%= i.hidden_field :protein, value:0 %>
         <%= i.hidden_field :lipid, value:0 %>
         <%= i.hidden_field :carbon, value:0 %>
         <%= i.hidden_field :ca, value:0 %>
         <%= i.hidden_field :fe, value:0 %>
         <%= i.hidden_field :v_a, value:0 %>
         <%= i.hidden_field :v_e, value:0 %>
         <%= i.hidden_field :v_b1, value:0 %>
         <%= i.hidden_field :v_b2, value:0 %>
         <%= i.hidden_field :v_c, value:0 %>
         <%= i.hidden_field :fiber, value:0 %>
         <%= i.hidden_field :fatty, value:0 %>
         <%= i.hidden_field :saltval, value:0 %>
        
      <% end %>
      <%= f.submit "新規投稿" , class:"btn btn-primary" %>
    <% end %>
  </div>
</div>