<div class="container">
  <h2>食事を記録する</h2>
  <p>Username:<%= @user.username %>さん</p>
  <% (18..23).each do |n|%>
    <% breakfast = @user.foods.where(when: n).where(which:"breakfast").last %>
    <% lunch = @user.foods.where(when: n).where(which:"lunch").last%>
    <% dinner = @user.foods.where(when: n).where(which:"dinner").last %>
    <p><%= n %>日<%=novdate(n) %></p>
    <div class="row">
      <%if breakfast then %>
        <a class="col-12 col-md-3 btn btn-info mr-5 mb-3" href="/foods/<%= breakfast.id %>/edit">朝(編集する)</a>
      <%else%>
        <a class="col-12 col-md-3 btn btn-success mr-5 mb-3" href="/foods/<%= n %>/breakfast">朝(新規投稿)</a>
      <% end %>
      <%if lunch then %>
        <a class="col-12 col-md-3 btn btn-info mr-5 mb-3" href="/foods/<%= lunch.id %>/edit">朝(編集する)</a>
      <%else%>
        <a class="col-12 col-md-3 btn btn-success mr-5 mb-3" href="/foods/<%= n %>/lunch">朝(新規投稿)</a>
      <% end %>
      <%if dinner then %>
        <a class="col-12 col-md-3 btn btn-info mr-5 mb-3" href="/foods/<%= dinner.id %>/edit">朝(編集する)</a>
      <%else%>
        <a class="col-12 col-md-3 btn btn-success mr-5 mb-3" href="/foods/<%= n %>/dinner">朝(新規投稿)</a>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>